.dragging .page{
	border: 3px dashed white ! important;
	cursor: pointer;
}

p{
	margin-bottom: 10px;
	text-align: center;
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
}

h1#status{
	font-size: 18px;
}

ul{
	list-style-type:none;
	font-size: 16px;
}

li span{
	width: 380px;
	display: block;
	float: left;
}

a.delete{
	float:right;
}

a.delete:hover{
	text-decoration: underline;
	cursor: pointer;
}

#submit, #cancel, #sync{
	float:right;
	margin: 5px;
}

.progressbar{
	width: 100%;
	line-height: 20px;
	text-align: center;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 20px;
	border: 1px solid gray;
	color: white;
	text-shadow: 0px 0px 3px black;
}

.progressbar div{
	background: rgba(0,0,0,0.8);
	height: 100%;
	width: 0%;
}

.progressbar span{
	display: block;
	text-align: center;
	width: 450px;
	position: absolute;
	font-size: 12px;
}