<div class='left'></div>
<div class='middle'>
	<div class='title'>Moods</div>
	<div class='moods'>
		<ul>{{#moods}}
			<li class='mood'>{{mood}}</li>
		{{/moods}}</ul>
	</div>
	<div class='lists'>
		<div class='playlist'>
		</div>
	</div>
</div>
<div class='righttop'>
	<div class='feedback'><a href=''>Feedback</div>
</div>