<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <title>MoodMusic</title>
	{{#stylesheets}}
		<link rel="stylesheet" href="{{url}}" type="text/css" charset="utf-8" />
	{{/stylesheets}}
	
	{{#scripts}}
		<script type="text/javascript" src="{{url}}" />
	{{/scripts}}
</head>
 
<body>