<div class='song' id='{{id}}'>
	<span class='title'>{{title}}</span> - {{#artist}}<span class='artist'>{{name}}</span>{{/artist}}<br />
	<a href="spotify:track:{{spotify_id}}">Listen on Spotify</a>
</div>