<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>MoodMusic</title>
	<link rel="stylesheet" href="../stylesheets/main.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="../stylesheets/moods.css" type="text/css" charset="utf-8">
	<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/jquery.tagcanvas.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/moods.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div id="site-container">
		<canvas id="globe" class="circle globe" width="350" height="350">
			<ul>
		        <li><a href="http://www.google.com" target="_blank">Google</a></li>
		        <li><a href="/fish">Fish</a></li>
		        <li><a href="/chips">Chips</a></li>
		        <li><a href="/salt">Salt</a></li>
		        <li><a href="/vinegar">Vinegar</a></li><li><a href="http://www.google.com" target="_blank">Google</a></li>
		        <li><a href="/fish">Fish</a></li>
		        <li><a href="/chips">Chips</a></li>
		        <li><a href="/salt">Salt</a></li>
		        <li><a href="/vinegar">Vinegar</a></li><li><a href="http://www.google.com" target="_blank">Google</a></li>
		        <li><a href="/fish">Fish</a></li>
		        <li><a href="/chips">Chips</a></li>
		        <li><a href="/salt">Salt</a></li>
		        <li><a href="/vinegar">Vinegar</a></li>
		      </ul>
		</canvas>
	</div>
	 
</body>
</html>
