<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
	
<script src="../js/brain.js" type="text/javascript" charset="utf-8"></script>

	<title>untitled</title>
	
	<script>
	//Voorbeeld van de site
	var net = new brain.NeuralNetwork();

	net.train([{input: {r:1, g:0.65, b:0},  output: {orange: 1}},
	           {input: {r:0, g:0.54, b:0},  output: {green: 1}},
	           {input: {r:0.6, g:1, b:0.5}, output: {green: 1}},
	           {input: {r:0.67, g:0, b:1},  output: {purple: 1}}]);

	var output = net.run({r:1, g:1, b:0});
	console.log("Voorbeeld van de site: "+output);
	
	//Onze implementatie
	var net2 = new brain.NeuralNetwork();
	
	$.ajax({
		url: "../resources/neuralnetwork.txt",
		success: function(e){ 
			net.fromJSON(JSON.parse(e));
			var output = net.run({"audiokey":0.545454545455,"mode":0,"time_signature":4,"loudness":0.476705,"energy":0.596926,"tempo":0.180036,"danceability":0.674453});
			console.log("Voorbeeld van ons: "+output);
		},
		error: function(e){
			setStatus("The neural network could not be loaded.", true);
		}
	});	
	</script>
	
</head>

<body>


</body>
</html>
