<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>MoodMusic</title>
	<link rel="stylesheet" href="../css/main.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="../css/upload.css" type="text/css" charset="utf-8">
	<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/qualify.js" type="text/javascript" charset="utf-8"></script>
</head>


<body>

	<div id="site-container" class="page" style="width: 550px; height: 400px;">
    	<div class='preview'>
        	<span id="title"></span> - <span id="name"></span>
        	<iframe id="ytvideo" width="560" height="315" src="http://www.youtube.com/embed/xiJThIUTvEw" frameborder="0" allowfullscreen></iframe>
        </div>
		<table class='features' style='display: none;'>
		</table>
		<div class='form'>
			<input type='hidden' id='nest-id' name='id' />
			<input class='moods' id='nest-mood'  name='moods' />
		</div>
		<input type='button' value='Opslaan' id='do-store' />
        <input type='button' value='Delete' id='do-delete' />
	</div>
</body>
</html>
