*{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: "Arial";
}

html{
	background: #CCCCCC;
	font-size: 14px;
	background: url('../resources/bg.jpg') no-repeat center center fixed;
	background-size: cover;
	position: absolute;
}
