select#moods{
	height: 50px;
	width: 780px;
	margin: 10px;
	border: 1px solid black;
}

#moods-container{
	height: 70px;
	border: 2px solid white;
	border-radius: 5px;
	background: rgba(0,0,0,0.2);
	margin-bottom: 10px;
}

#status{
	height: auto;
	width: 100%;
	text-align: center;
	color: red;
}

#youtube-player-container{
	height: auto;
	width: 776px;
	border: 2px solid white;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	background: rgba(0,0,0,0.2);
	position:relative;
}

#youtube-player{
	height: 400px;
	width: 780px;
	text-align: center;
	line-height: 400px;
}

#feedback-container{
	height: 70px;
	border: 2px solid white;
	border-radius: 5px;
	margin-top: 10px;
	background: rgba(0,0,0,0.2);
}

#feedback-moods{
	height: 50px;
	width: 780px;
	margin: 10px;
	border: 1px solid black;
}

#next, #previous {
	position:absolute;
	top:-2px;
	width:75px;
	height:100%;
	border: 2px solid transparent;
	background: center no-repeat;
	cursor:pointer;
	-webkit-transition: all .5s;
	opacity:.5;
	display:none;
}

#next:hover, #previous:hover {
	opacity:1;
}

#next {
	right:-90px;
	background-image:url(../resources/next.png);
}

#previous {
	left:-90px;
	background-image:url(../resources/prev.png);
}

select{
	font-size: 14px;
}
