select#moods{
	height: 50px;
	width: 780px;
	margin: 10px;
	border: 1px solid black;
}

#moods-container{
	height: 70px;
	border: 2px solid white;
	border-radius: 5px;
	background: rgba(0,0,0,0.2);
	margin-bottom: 10px;
}

#status{
	height: auto;
	width: 100%;
	text-align: center;
	color: red;
}

#youtube-player-container{
	height: auto;
	width: 780px;
	border: 2px solid white;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	background: rgba(0,0,0,0.2);
}

#youtube-player{
	height: 400px;
	width: 780px;
	text-align: center;
	line-height: 400px;
}

#feedback-container{
	height: 70px;
	border: 2px solid white;
	border-radius: 5px;
	margin-top: 10px;
	background: rgba(0,0,0,0.2);
}

#feedback-moods{
	height: 50px;
	width: 780px;
	margin: 10px;
	border: 1px solid black;
}

select{
	font-size: 14px;
}
