#site-container{
	height: 250px;
	margin-top: -125px;
}

#submit, #error{
	padding: 10px;
	background: rgba(255,255,255,0.2);
	border: 2px solid white;
	border-radius: 5px;
	text-align: center;
}

#submit:hover, #error:hover{
	cursor: pointer;
	background: rgba(255,255,255,0.5);
}

#error{
	margin-top: 10px;
}

#status{
	margin-top: 10px;
	text-align: center;
}

#loader{
	margin: 0 auto;
	display: block;
	margin-top: 5px;
}

#error-table-container{
	padding: 10px;
	background: rgba(255,255,255,0.2);
	border: 2px solid white;
	border-radius: 5px;
	margin-top: 10px;
	max-height: 125px;
	overflow: auto;
}

#error-table td{
	padding: 1px;
}

#error-table tr td:first-child{
	padding-right: 20px;
	font-weight: bold;
}