<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>MoodMusic</title>
	<link rel="stylesheet" href="../stylesheets/main.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="../stylesheets/liedjesklopjetser.css" type="text/css" charset="utf-8">
	<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/brain.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/neural-network.js" type="text/javascript" charset="utf-8"></script>
	
	<!--[if lte IE 6]><script src="../libraries/ie6/warning.js"></script><script>window.onload=function(){e("../libraries/ie6/")}</script><![endif]-->
</head>

<body>
	<div id="site-container" class="page" style="width: 550px; height: 400px;">
		<p>Analyzing</p>
	</div>
</body>
</html>
